{% extends 'base.html' %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="container mt-4">
            <h2>Dashboard</h2>

        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body text-center">
                        <h4>Total Organizations</h4>
                        <h2>{{ organization_count }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body text-center">
                        <h4>Total Colleges</h4>
                        <h2>{{ college_count }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body text-center">
                        <h4>Total Programs</h4>
                        <h2>{{ program_count }}</h2>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body text-center">
                        <h4>Total Students</h4>
                        <h2>{{ student_count }}</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
